@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

:root {
  --bg-color:#EBECF0;
  --color-w: #FFF;
  --color-s: #BABECC;
  --accent-color:#b16441;
  --font: 'Shantell Sans', cursive;
  --feneumorphism: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  --feneumorphism-inset:inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}

body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  font-family: var(--font);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.2px;
  color: var(--color-s);
  text-shadow: 1px 1px 1px var(--color-w);
  background-color: var(--bg-color);
  position: relative;
}

.bg-img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.container {
  padding: 50px 30px 100px;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}

.bumderan {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
}

.fomto {
  width: 130px;
  height: 130px;
  background: var(--bg-color);
  background-image: url("../public/profile-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.heamder {
  color: var(--color-s);
  text-align: center;
  margin-bottom: 20px;
}

.heamder h1 {
  font-family: 'Merienda One', cursive;
  font-weight: 400;
  font-size: 18px;
}

.btn-tree {
  margin: 0 0;
  padding: 1rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  position: relative;
}
.btn-tree::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff1c;
  backdrop-filter: blur(10px); 
  border-radius: 20px;
}

.btn-link {
  font-size: 1em;
  position: relative;
  z-index: 1000;
  font-family: var(--font);
  font-weight: bold;
  border: 0;
  outline: 0;
  width:100%;
  background-color: var(--bg-color);
  color: var(--accent-color);
  padding:10px 40px;
  border-radius:12px;
  min-width:190px;
  margin-bottom:30px;
  cursor: pointer;
  text-shadow: 1px 1px 0 var(--color-w);
  box-shadow: var(--feneumorphism);
  transition: background-color 300ms ease-in-out;
}

footer {
  /* font-family: var(--font); */
  color: var(--accent-color);
  font-weight: bold;
  position: relative;
  z-index: 100;
  margin-bottom: 10px;
}
footer a {
  color: var(--accent-color);
}

.btn-link:hover {
  box-shadow: var(--feneumorphism-inset);
}

.btn-link:active {
  box-shadow: var(--feneumorphism-inset);
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  object-position: center;
  object-fit: contain;
  margin: 20px auto 0;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* video */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 2s cubic-bezier(0.4, 0, 1, 1), transform 2s cubic-bezier(0.4, 0, 1, 1);
}
